<ul class="breadcrumb">
  <li><%= link_to "Help", help_path %></li>
  <li class="active">Answering</li>
</ul>

<div class="row-fluid">

  <div class="span3">
    <ul class="nav nav-list league-docs-sidenav">
      <li><a href="#accepted"><i class="fui-arrow-right pull-right"></i> My Answer got accepted</a></li>
      <li><a href="#goodanswer"><i class="fui-arrow-right pull-right"></i> How do I write a good answer?</a></li>
      <li><a href="#deleted"><i class="fui-arrow-right pull-right"></i> My Answer got deleted</a></li>
    </ul>
  </div>

  <div class="span9">
    <div class="help_answering_hero">
      <h2>How to answer Questions</h2>
    </div>

    <!-- Content Starts Here-->

    <section id="accepted">

      <div class="help_topic_header">
        <h1><span class="fui-tag"></span> What does it mean when an answer is "accepted"?</h1>
      </div>

      <p>
        When a user receives a good answer to his or her question, that user has
        the option to <b>"accept"</b> an answer. Acceptance is indicated by a
        colored checkmark next to the answer that has been accepted by the
        original author of the question.
      </p>

      <p>
        Accepting an answer is not meant to be a definitive and final statement
        indicating that the question has now been answered perfectly. It simply
        means that the author received an answer that worked for him or her
        personally, but not every user comes back to accept an answer, and of
        those who do, they may not change the accepted answer if a newer,
        better answer comes along later.
      </p>

      <p>Often, accepting an answer corresponds to reputation gains.</p>

      <p>If you accept:</p>

      <ol>
        <li>
          <b>someone else's answer:</b> You gain +2 League Points and the author
          of the accepted answer earns +15 League Points.
        </li>
        <li>
          <b>your own answer:</b> No reputation is awarded, and the answer does
          not float to the top of the list.
        </li>
      </ol>

    </section>

    <br>

    <section id="goodanswer">

      <div class="help_topic_header">
        <h1><span class="fui-tag"></span>  How do I write a good answer?</h1>
      </div>

      <p>
        Thanks for taking the time to contribute an answer. It’s because of
        helpful peers like yourself that we’re able to learn together as a
        community. Here are a few tips on how to make your answer great:
      </p>

      <h5>Pay it forward</h5>

      <p>
        Saying “thanks” is appreciated, but it doesn’t answer the question.
        Instead, vote up the answers that helped you the most! If these answers
        were helpful to you, please consider saying thank you in a more
        constructive way – by contributing your own answers to questions your
        peers have asked here.
      </p>

      <h5>Have the same problem?</h5>

      <p>
        Still no answer to the question, and you have the same problem? Help us
        find a solution by researching the problem, then contribute the results
        of your research and anything additional you’ve tried as a partial answer.
        That way, even if we can’t figure it out, the next person has more to
        go on. You can also vote up the question.
      </p>

      <h5>Answer the question</h5>

      <p>
        Read the question carefully. What, specifically, is the question asking
        for? Make sure your answer provides that – or a viable alternative.
        The answer can be “don’t do that”, but it should also include
        “try this instead”. Any answer that gets the asker going in the right
        direction is helpful, but do try to mention any limitations,
        assumptions or simplifications in your answer. Brevity is acceptable,
        but fuller explanations are better.
      </p>

      <h5>Provide context for links</h5>

      <p>
        Links to external resources are encouraged, but please add context
        around the link so your fellow users will have some idea what it is and
        why it’s there. Always quote the most relevant part of an important link,
        in case the target site is unreachable or goes permanently offline.
      </p>

      <h5>Write to the best of your ability</h5>

      <p>
        We don't expect every answer to be perfect, but answers with correct
        spelling, punctuation, and grammar are easier to read. They also tend to
        get upvoted more frequently. Remember, you can always go back at any
        time and edit your answer to improve it.
      </p>

      <h5>Always be polite and have fun</h5>

      <p>
        It’s fine to disagree and express concern, but please be civil. There’s
        a real human being on the other end of that network connection,
        however misguided they may appear to be. We’re here to learn from our
        peers, not yell at each other.
      </p>

    </section>

    <br>

    <section id="deleted">

      <div class="help_topic_header">
        <h1><span class="fui-tag"></span>  Why and how are some answers deleted?</h1>
      </div>

      <p>
        Answers that <b>do not fundamentally answer the question</b> may be
        removed. This includes answers that are:
      </p>

      <ol>
        <li>commentary on the question or other answers</li>
        <li>asking another, different question</li>
        <li>“thanks!” or “me too!” responses</li>
        <li>exact duplicates of other answers</li>
        <li>barely more than a link to an external site</li>
        <li>not even a partial answer to the actual question</li>
      </ol>

      <p>
        If you wish to improve an existing answer, click the edit link beneath it.
        For more guidance, see <a href="#goodanswer">How to Answer</a>.</p>

      <p>Additionally, any answer that accumulates enough offensive or spam flags will be automatically deleted.

    </section>


  </div>

</div>