<ul class="breadcrumb">
  <li><%= link_to "Help", help_path %></li>
  <li class="active">Asking</li>
</ul>

<div class="row-fluid">

  <div class="span3">

    <ul class="nav nav-list league-docs-sidenav">
      <li><a href="#topics"><i class="fui-arrow-right pull-right"></i> What Topics can i ask</a></li>
      <li><a href="#avoid"><i class="fui-arrow-right pull-right"></i> What to avoid asking</a></li>
      <li><a href="#deleted"><i class="fui-arrow-right pull-right"></i> How are Questions deleted</a></li>
      <li><a href="#tags"><i class="fui-arrow-right pull-right"></i> What are Tags</a></li>
      <li><a href="#answered"><i class="fui-arrow-right pull-right"></i> My Question got answered</a></li>
      <li><a href="#goodquestion"><i class="fui-arrow-right pull-right"></i> How to ask a good Question</a></li>
    </ul>

  </div>

  <div class="span9">

    <div class="help_asking_hero">
      <h2>Asking is OP</h2>
    </div>


    <!-- Content Starts Here-->

    <section id="topics">
      <div class="help_topic_header">
        <h1><span class="fui-tag"></span> What Topics can i ask around here</h1>
      </div>

      <p>
        League I/O is for professional and enthusiast League of Legends Players,
        people who love the Game and want to contribute to the Community. If your
        Questions generally cover:
      </p>

      <ol>
        <li>whast</li>
        <li>asldajs</li>
      </ol>

      <br>

      <p>… then you’re in the right place to ask your question!</p>

      <p>
        Please look around to see if your question has been asked before.
        Questions which are too broad, unclear, or primarily opinion-based may
        be put on hold by the community until they are improved.
      </p>

      <p>
        <b>
          Some questions are still off-topic, even if they fit into one of the
          categories listed above:
        </b>
      </p>

      <ol>
        <li>
          <p>
            Questions about <em>general computing hardware and software</em>
          are off-topic for Stack Overflow unless they directly involve tools
          used primarily for programming.
          </p>
        </li>
        <li>
          <p>
            Questions concerning problems with code you've written must <em>
            describe the specific problem</em> — and <em>include valid code to
            reproduce it</em> — in the question itself.
            See <a href="http://SSCCE.org" rel="nofollow">http://SSCCE.org</a>
            for guidance.
          </p>
        </li>
        <li>
          <p>
            Questions asking for code must <em>demonstrate a minimal
            understanding of the problem being solved.</em> Include attempted
            solutions, why they didn't work, and the expected results. See also:
            <a href="#">Stack Overflow question checklist</a>.
          </p>
        </li>
        <li>
          <p>
            Questions on <em>professional server, networking, or related
            infrastructure administration</em> are off-topic for Stack Overflow
            unless they directly involve programming or programming tools.
          </p>
        </li>
        <li>
          <p>
            Questions asking us to <em>recommend or find a tool, library or
            favorite off-site resource</em> are off-topic for Stack Overflow as
            they tend to attract opinionated answers and spam. Instead,
            <a href="#">describe the problem</a> and what has been done so far to
            solve it.
          </p>
        </li>
      </ol>
    </section>  <!--Topic Section End-->

    <br>

    <section id="avoid">
      <div class="help_topic_header">
        <h1><span class="fui-tag"></span> What types of questions should I avoid asking?</h1>
      </div>

      <p>First, make sure that your question is <b>on-topic for this site</b>.</p>

      <p>
        You should only ask practical, answerable questions based on actual
        problems that you face. Chatty, open-ended questions diminish the
        usefulness of our site and push other questions off the front page.
      </p>


      <p>
        Your questions should be reasonably scoped. If you can imagine an entire
        book that answers your question, you’re asking too much.
      </p>

      <p>
        If your motivation for asking the question is “I would like to
        participate in a discussion about ______”, then you should not be asking
        here. However, if your motivation is “I would like others to
        explain ______ to me”, then you are probably OK.
      </p>

      <p>
        <b>
          To prevent your question from being flagged and possibly removed,
          <i>avoid</i> asking subjective questions where …
        </b>
      </p>

      <ol>
        <li>every answer is equally valid: “What’s your favorite ______?”</li>
        <li>your answer is provided along with the question, and you expect more answers: “I use ______ for ______, what do you use?”</li>
        <li>there is no actual problem to be solved: “I’m curious if other people feel like I do.”</li>
        <li>you are asking an open-ended, hypothetical question: “What if ______ happened?”</li>
        <li>your question is just a rant in disguise: “______ sucks, am I right?”</li>
      </ol>

      <br>

      <p><b>Some subjective questions are allowed, but “subjective” does not mean “anything goes”. All subjective questions are expected to be <i>constructive</i></b>. What does that mean? Constructive subjective questions:</p>

      <ol>
        <li>inspire answers that explain “why” and “how”</li>
        <li>tend to have long, not short, answers</li>
        <li>have a constructive, fair, and impartial tone</li>
        <li>invite sharing experiences over opinions</li>
        <li>insist that opinion be backed up with facts and references</li>
        <li>are more than just mindless social fun</li>
      </ol>

    </section> <!--Avoid section End-->

    <br>

    <section id="deleted">
      <div class="help_topic_header">
        <h1><span class="fui-tag"></span> Why and how are some questions deleted?</h1>
      </div>

      <div id="help-post-body" class="col-section"><p>Questions that are <a href="/helpcenter/on-topic">extremely off topic</a>, or of very low quality, may be removed at the discretion of the community and moderators.

        Over time, closed questions that are not useful as signpoints to other questions may also be removed, as well as questions which have no significant activity over a very long period after being asked. If you want to improve a question to keep it from being deleted, click the edit button beneath it. See <a href="/questions/how-to-ask">How to Ask</a> for more tips on improving questions.

      </p><p>Additionally, any answer that accumulates enough offensive or spam flags will be automatically deleted.</p>

        <p>Users can delete their own questions if the question:</p>

        <ol>
          <li>has zero answers</li>
          <li>only one answer, but that answer has no upvotes</li>
        </ol>

        <p>Simply click the delete link underneath the question.</p>

        <p>
          Questions can also be deleted by the community. Moderators can delete
          any question, and users with <a href="#">sufficient reputation</a>
          can cast delete votes on closed questions. It takes 3 votes, minimum,
          to delete a closed question. However, the number of delete votes
          required scales to the number of votes on the question and all its
          answers. Questions that have been closed within the past 48 hours
          cannot be deleted, so as to allow for editing and possible
          <a href="/helpcenter/reopen-questions">reopening</a>.
        </p>


      </div>

    </section>  <!-- Deleted Section End-->

    <br>

    <section id="tags">
      <div class="help_topic_header">
        <h1><span class="fui-tag"></span> What are tags, and how should I use them?</h1>
      </div>

      <p>A tag is a word or phrase that describes the topic of the question. Tags are a means of connecting experts with questions they will be able to answer by sorting questions into specific, well-defined categories. </p>

      <p>Tags can also be used to <a href="/help/interesting-topics">help you identify questions that are interesting</a> or relevant to you. </p>

      <p>Clicking on a tag below a question brings you to a page that shows all questions within that tag. You also see a description of what the tag is and how it should be applied on Stack Overflow (since sometimes the tag name is a common word that has a broad meaning in the real world but a very particular, narrow meaning on this site.) These descriptions comprise the tag wiki, which is editable by the community like any other post.</p>

      <p>As a general rule, you should avoid creating new tags if possible, and new users are not allowed to <a href="/help/privileges/create-tags">create new tags</a>. Even if you have sufficient reputation, you should only create new tags when you feel you can make a strong case that your question covers a new topic that nobody else has asked about before on this site. </p>

      <p>Each question may only contain 5 tags at a maximum, so choose the ones that best describe your question. Spaces are not allowed in tags – create compound tags using hyphens rather than spaces (like <code>[visual-studio]</code>) rather than multiple tags separated by spaces (<code>[visual]</code> <code>[studio]</code>).</p>

      <h3>How to format tags</h3>

      <ul>
        <li>Use all lower case</li>
        <li>Replace spaces with hyphens (-) to combine multiple words into a single word (e.g., tag "unit testing" as <code>unit-testing</code>)</li>
        <li>Avoid punctuation (which can make it difficult to use the tag in a URL)</li>
        <li>When naming a tag, think about how someone would search for that subject. In most cases this means typing out the full name, but you may also want to use the abbreviation. For example, <code>[css]</code> is probably more appropriate than <code>[cascading-style-sheets]</code></li>
      </ul>

      <h3>Re-tagging</h3>

      <p>As part of the <a href="/help/editing">editing process</a>, users may suggest edits or directly edit the tags of a question if they feel a certain tag was used inappropriately or that the question is missing a tag.</p>

      <p>You should re-tag questions when:</p>

      <ul>
        <li>You are adding valuable information to the question by doing so</li>
        <li>You are replacing obscure or difficult to understand tags with well-known and popular tags that are appropriate for the question.</li>
      </ul>

      <h3>Avoid meta-tags</h3>

      <p>Do not use <a href="http://blog.stackoverflow.com/2010/08/the-death-of-meta-tags/">meta-tags</a> in questions. Here are some tips to help you determine whether a tag is a meta-tag:</p>

      <ul>
        <li><strong>If the tag can’t work as the only tag on a question, it’s probably a meta-tag.</strong> Every tag you use should be able to work, more or less, as the only tag on a question. Meta-tags, like <code>[beginner]</code>, <code>[subjective]</code>, and <code>[best-practices]</code>, are not helpful by themselves – they do not communicate anything about the content of the question.</li>
        <li><strong>If the tag commonly means different things to different people, it’s probably a meta-tag.</strong> For example, the meaning of the tag <code>[subjective]</code> is, itself, subjective; the same is true for tags like <code>[best-practices]</code> and <code>[beginner]</code>. Best practices to whom? Beginner by what criteria? Use only tags that have a broadly accepted, objective definition.</li>
      </ul>

      <h3>Should I use tags in titles?</h3>

      <p>You should not <em>force</em> a tag into your title. Because the tags appear below the question and tags are indexed by search engines along with the content of your question, you can trust that other people will be able to find your question based on tags they follow or search for. Additionally, tags appear on the question page, so other people will take them into account when answering your question.  </p>

      <p><em><strong>Avoid</strong></em> inserting tags into titles in any of the following formats:</p>

      <ul>
        <li>[tag]: [question title]</li>
        <li>[question title] -- [tag] [tag] [tag]</li>
        <li>[question title] in [tag]</li>
        <li>[tag] [tag] [question title] [tag] [tag] [tag]</li>
        <li>[tag] [tag] [tag] [tag] [tag] [tag] [tag] [tag]</li>
      </ul>

      <p>The only time you should use tags in your title is when they are organic to the conversational tone of the title. </p>

      <p>For example, rather than writing, "JavaScript, jQuery: When should I use one or the other?"  – which forces tags into the title – you can convey the same information in a conversational tone: </p>

    </section>   <!-- Tags Section End-->

    <br>

    <section id="answered">
      <div class="help_topic_header">
        <h1><span class="fui-tag"></span> What should I do when someone answers my question?</h1>
      </div>

      <p> The first thing you should do when someone answers your question is vote on it, like any other user does. Vote up answers that are helpful and well-researched, and vote down answers that are not. Other users will also vote on answers to your question.</p>

      <p>As the author of the question, you have an additional option: <a href="/help/accepted-answer">accepting an answer</a> that you believe is the best solution to your problem.</p>

      <p><b><a href="http://meta.stackoverflow.com/questions/5234/how-does-accepting-an-answer-work">To accept an answer</a>:</b></p>

      <ul>
        <li>Choose one answer that you believe is the best solution to your problem.</li>
        <li>To mark an answer as accepted, click on the check mark beside the answer to toggle it from greyed out to filled in.</li>
        <li>You may change which answer is accepted, or simply un-accept the answer, at any time.</li>

      </ul>

      <p>Accepting an answer is not mandatory; do not feel compelled to accept the first answer you receive. Wait until you receive an answer that answers your question well.</p>

      <p><b>Please do <i>not</i> add a commenton your question or on an answer to say "Thank you".</b> Comments are meant for requesting clarification, leaving constructive criticism, or adding relevant but minor additional information – not for socializing. If you want to say "thank you," vote on or accept that person's answer, or simply pay it forward by providing a great answer to someone else's question.</p>

    </section> <!-- Answered Section End-->

    <br>

    <section id="goodquestion">
      <div class="help_topic_header">
        <h1><span class="fui-tag"></span> How do I ask a good question?</h1>
      </div>

        <h2>How do I ask a good question?</h2>
        <p>We’d love to help you. To <b>improve your chances</b> of getting an answer, here are some tips:</p>

        <h3><a href="/search">Search</a>, and research</h3>

        <p>Have you <b><a href="/search">thoroughly searched for an answer</a></b> <i>before</i> asking your question? Sharing your research helps everyone. Tell us what you found and why it didn’t meet your needs. This demonstrates that you’ve taken the time to try to help yourself, it saves us from reiterating obvious answers, and above all, it helps you get a more specific and relevant answer!</p>

        <h3>Be on-topic</h3>

        <p>Our community is defined by a specific set of topics that you <a href="/help/on-topic">can view in the help center</a>; please stick to those topics and <a href="/help/dont-ask">avoid asking for opinions or open-ended discussion</a>. If your question is about the site itself, ask on our <a href="http://meta.stackoverflow.com" rel="nofollow">meta-discussion site</a>. If you’re looking for a different topic, it might be covered on another <a href="http://stackexchange.com/sites">Stack Exchange site</a>.</p>

        <h3>Be specific</h3>

        <p>If you ask a vague question, you’ll get a vague answer. But if you give us details and context, we can provide a useful answer.</p>

        <h3>Make it relevant to others</h3>

        <p>We like to help as many people at a time as we can. Make it clear how your question is relevant to more people than just you, and more of us will be interested in your question and willing to look into it.</p>

        <h3>Keep an open mind</h3>

        <p>The answer to your question may not always be the one   you wanted, but that doesn’t mean it is wrong. A conclusive answer isn’t always possible. When in doubt, ask people to cite their sources, or to explain how/where they learned something. Even if we don’t agree with you, or tell you exactly what you wanted to hear, remember: we’re just trying to help.</p>

    </section>   <!-- Good Question Section End-->


  </div><!-- Span 9 End -->

</div>