<ul class="breadcrumb">
  <li><%= link_to "Help", help_path %></li>
  <li class="active">League Points</li>
</ul>

<div class="row-fluid">

  <div class="span3">
    <ul class="nav nav-list league-docs-sidenav">
      <li><a href="#reputation"><i class="fui-arrow-right pull-right"></i> What is Reputation</a></li>
      <li><a href="#moderators"><i class="fui-arrow-right pull-right"></i> Site Moderators</a></li>
      <li><a href="#voting"><i class="fui-arrow-right pull-right"></i> Why voting is important</a></li>
    </ul>
  </div>

  <div class="span9">
    <div class="help_reputation_hero">
      <h2>League Points = Reputation</h2>
    </div>

    <!-- Content Starts Here-->

    <section id="reputation">

      <div class="help_topic_header">
        <h1><span class="fui-tag"></span> What is reputation? LP, How do I earn (and lose) it?</h1>
      </div>

      <p>
        Reputation is a rough measurement of how much the community trusts you;
        it is earned by convincing your peers that you know what you’re talking
        about. Basic use of the site, including asking questions, answering, and
        suggesting edits, does not require any reputation at all. But the more
        reputation you earn, the more privileges you gain.
      </p>

      <p>
        The primary way to gain League Points is by posting good questions and
        useful answers. Votes on these posts cause you to gain (or sometimes lose)
        LP.
      </p>

      <p>
        You can earn a maximum of 200 League Points per day from any combination of
        the activities below.
      </p>

      <p><b>You gain League Points when:</b></p>

      <ol>
        <li>Your question is voted up: +5</li>
        <li>Your answer is voted up: +10</li>
        <li>Your answer is marked “accepted”: +15 (+2 to acceptor) </li>
      </ol>

      <br>

      <p><b>You lose League Points when:</b></p>

      <ol>
        <li>Your question is voted down: −2</li>
        <li>Your answer is voted down: −2</li>
        <li>You vote down an answer: −1</li>
        <li>One of your posts receives 6 spam or offensive flags: −100</li>
      </ol>

      <br>

      <p>
        <b>All users start with zero LP</b>, and reputation can never drop below 0.
        Accepting your own answer does not gain you any LP. If a user reverses
        a vote, the corresponding LP loss or gain will be reversed as well.
        Vote reversal as a result of voting fraud will also return lost or
        gained LP.
      </p>

      <p>
        At the high end of this reputation spectrum there is little difference
        between users with high reputation and moderators. That is intentional.
        We don’t run this site. The community does.
      </p>

    </section>

    <br>

    <section id="moderators">

      <div class="help_topic_header">
        <h1><span class="fui-tag"></span> Who are the site moderators, and what is their role here?</h1>
      </div>

      <p>
        At League I/O, we believe moderation starts with the community itself,
        so in addition to all users gaining privileges through reputation earned,
        each site has moderators elected through popular vote. We hold regular
        elections to determine who these community moderators will be.
        Moderators are elected for life, though they may resign (or, in very rare
        cases, be removed).
      </p>

      <p>We generally expect that moderators:</p>

      <ol>
        <li>are patient and fair</li>
        <li>lead by example</li>
        <li>show respect for their fellow community members in their actions and words</li>
        <li>are open to some light but firm moderation to keep the community on track and resolve (hopefully) uncommon disputes and exceptions</li>
      </ol>

      <p>Furthermore, all moderators must abide by our moderator agreement.</p>

      <h6>
        Moderators are human exception handlers, there to deal with those
        exceptional conditions that could otherwise disrupt the community.
      </h6>

      <p>
        The most common moderator task is to follow up on flagged posts.
        Every post contains a small flag link, which anyone with 15 reputation can use.
        Posts can be flagged as spam, offensive, or just general “needs moderator
        attention” with an explanatory comment or link. Once flagged, a post
        increments a flag count that shows up in the topbar for every moderator.
      </p>

      <p>
        If you see anything in the system that is evil, weird, or in any way
        exceptional and deserving of moderator attention for any reason…
        <b>flag it</b>! That’s the primary job of a moderator: to look at every
        flagged post, and take action if necessary.
      </p>

      <p>
        Moderators also have some special abilities necessary to handle those
        rare exceptional conditions:
      </p>

      <ol>
        <li>
          Moderator votes are binding. Any place we have voting — close, open,
          delete, undelete, offensive, migration, etc — that vote will reach the
          threshold and take effect immediately if a single moderator casts a vote.
        </li>
        <li>
          Moderators can lock posts. Locked posts cannot be voted on or changed
          in any way.
        </li>
        <li>
          Moderators can <b>protect questions</b>. Protected questions only allow
          answers by users with more than 10 reputation.
        </li>
        <li>
          Moderators can see more data in the system, including vote statistics
          (but not ‘who voted for this post’) and user profile information.
        </li>
        <li>
          Moderators can place users in <b>timed suspension</b>, and delete users
          if necessary.
        </li>
        <li>
          Moderators can perform large-scale maintenance actions such as merging
          questions and so forth.
        </li>
      </ol>

      <p>
        A lot of the moderation work is mundane: deleting obvious spam, closing
        blatantly off-topic questions, and culling some of the worst-rated posts
        on the site. The ideal moderator does as little as possible, but those
        little actions may be powerful, visible, and highly concentrated.
      </p>

      <p>
        If you have questions about the reasoning behind a moderator's actions,
        feel free to Contact us. Remember to be <strong>constructive and polite</strong>;
        moderators have the best interest of the site in mind, but they may
        occasionally make mistakes or have to deal with controversial issues on
        which not everyone agrees.
      </p>

      <h6>Moderators act as a liaison between the community and League I/O.</h6>

      <p>
        Site moderators can also escalate issues of moderation by contacting the
        League I/O team for guidance and administrative or technical tasks.
      </p>

      <p>
        Additionally, moderators can help draw extra attention to bugs, feature
        requests, or other issues that affect their site if the community is
        unable to resolve the issue .
      </p>

    </section>

    <br>

    <section id="voting">

      <div class="help_topic_header">
        <h1><span class="fui-tag"></span> Why is voting important?</h1>
      </div>

      <p>
        Voting is central to our our model of providing quality questions and
        answers; it is how …
      </p>

      <ol>
        <li>...good content rises to the top</li>
        <li>...incorrect content falls to the bottom</li>
        <li>
          ...users who consistently provide useful content accrue
          <a href="#reputation">League Points</a> and are granted more
          privileges on League I/O</li>
      </ol>

      <br>

      <p>
        It’s only through voting that a class of editors, closers, and moderators
        can emerge to help run and govern the site. Voting is how site leadership
        forms.
      </p>

      <p>
        League I/O is intended to be a sort of representative democracy. Moderator
        elections are an important part of that plan, but voting on questions and answers is the
        <em>primary</em> mechanism through which the community governs the site
        on a day to day basis. Every user with sufficient reputation can exercise
        their right to vote, every day that they visit the site.
      </p>

      <p>
        Voting is so important that there is a <b>variety of badges</b> associated
        with different aspects of voting – like casting your first up- or down vote,
        using up all of your allotted votes in a day, or casting upvotes on other
        people's answers to a question that you have answered yourself.
      </p>

      <p>
        Voting up a question or answer signals to the rest of the community that
        a post is interesting, well-researched, and useful, while voting down a
        post signals the opposite: that the post contains wrong information, is
        poorly researched, or fails to communicate information. The more that
        people vote on a post, the more certain future visitors can be of the
        quality of information contained within that post – not to mention that
        upvotes are a great way to thank the author of a good post for the time
        and effort put into writing it!
      </p>


    </section>


  </div>


</div>