<div class="spec_tag_hero_unit">
  <h1><%= @tag.name %></h1>
</div>

<div class="undr_spec_tag_hero_unit">

  <div class="pull-left">

  </div>

  <div class="pull-right">
    We have <b><%= pluralize(@tag.questions.count, 'question' ) %></b> for <%= @tag.name %>
  </div>

  <div class="clearfix"></div>

</div>

<p>

</p>


<%= render @tag.questions %>
