<div class="about_hero">
  <h1>Welcome to League I/O</h1>
  <br>
  <span class="fui-bubble"></span>
  <br>
  <br>
  <p>
    <b>League I/O</b> is for professional and enthusiast League of Legends
    Players, people who love the Game and want to contribute to the Community.
    <br>
    It's built and run by you as part of the League of Legends Community.
    With your help, we're working together to build a library of detailed <br>
    answers to every question about League of Legends.
  </p>

  <br>

  <hr>

  <br>

  <h4>Ask Questions - Get Answers</h4>
  <br>
  <img src="http://i.imgur.com/DPYKL8w.png" alt=""/>
  <br>
  <span class="fui-triangle-down"></span>
  <br>
  <img src="http://i.imgur.com/tQu8JAJ.png" alt=""/>


</div>
