.about_hero {
  text-align: center;
  h1 {
    font-size: 40px;
  }
  .fui-bubble {
    font-size: 70px;
    color: #CCC;
  }
  .fui-bubble:hover {
    color: #34495e;
  }
  p {
    font-size: 16px;
  }
}