.answr_inner_body {
  background-color: #F7F7F7;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding: 10px;
}

.answr_inner_body p {
  font-size: 14px;
  margin: 0!important;
}

.clear_it_nicely {
  border-bottom: 1px solid #AAA;
  padding-top: 20px;
  margin-bottom: 20px;
}
