/* Span 9*/


/* Span 3 */

.nw_quest_how {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  padding: 10px;
  background-image: url('https://s3.amazonaws.com/leagueio/design/questions/new-question-info.png');
}

.nw_quest_how p {
  margin: 0!important;
  font-size: 14px;
  color: #ECF0F1;
  text-shadow: 0 1px 10px #272822;
}

.nw_quest_how .big {
  font-size: 18px;
  color: #ECF0F1;
  text-shadow: 0 1px 10px #272822;
}

.nw_quest_how .first {
  font-size: 20px;
  color: #ECF0F1;
  text-shadow: 0 1px 10px #272822;
}

.nw_quest_links {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  padding: 10px;
  background-image: url('https://s3.amazonaws.com/leagueio/design/questions/new-question-links.png');
}

.nw_quest_links .nw_quest_links_hpdesk {
  color: #ECF0F1;
  text-shadow: 0 1px 10px #272822;
}

.nw_quest_links .nw_quest_links_qhp {
  color: #ECF0F1;
  text-shadow: 0 1px 10px #272822;
}

.nw_quest_links a {
  color: #ECF0F1;
}

.nw_quest_links a:hover {
  color: #37b3ff;
}

