.usr_profile_avtr {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  width: 180px;
  height: 180px;
}

.usr_profile_usr_info {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  padding: 20px;
  background-image: url('https://s3.amazonaws.com/leagueio/design/user-profile/user-profile-hero.png');
}

.usr_profile_usr_lp {
  color: #ECF0F1;
  text-shadow: 0 1px 10px #272822;
}

.usr_profile_usr_name {
  color: #ECF0F1;
  text-shadow: 0 1px 10px #272822;
}

.undr_profile_usr_info {
  margin-top: 5px;
  margin-left: 2px;
  margin-right: 2px;
}





