.thanks-hero-unit {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  padding: 20px;
  background-image: url('http://i.imgur.com/aerJVYh.png');
  text-align: center;
}

.thanks-hero-unit h1 {
  color: #ECF0F1;
  text-shadow: 0 1px 10px #272822;
}

.thanks-hero-unit p {
  margin: 0!important;
  font-size: 18px;
  font-weight: bold;
  color: #ECF0F1;
  text-shadow: 0 1px 10px #272822;
}