.wlcm_hero_unit {
  padding: 30px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #ECF0F1;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.wlcm_hero_unit .wlcm_greeting {
  text-align: center;
  h3 {
    margin-top: -20px;
  }
}

.wlcm_hero_unit .wlcm_shares {
  text-align: center;
}

.wlcm_hero_unit .wlcm_intro {
  text-align: center;
}