.wlcm_hero_unit {
  padding: 30px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-image: url('http://i.imgur.com/naHrvNF.png');
}

.wlcm_hero_unit .wlcm_greeting {
  text-align: center;
  color: #ECF0F1;
  text-shadow: 0 1px 10px #272822;
  .wlcm_first {
    margin-top: -20px;
  }
}

.wlcm_hero_unit .wlcm_shares {
  text-align: center;
}

.wlcm_hero_unit .wlcm_intro {
  text-align: center;
  color: #ECF0F1;
  text-shadow: 0 1px 10px #272822;
}

.wlcm_hero_unit .wlcm_greeting a {
  text-align: center;
  color: #ECF0F1;
  text-shadow: 0 1px 10px #272822;
}