.unrgstr_index_wlcm_beta {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  padding: 10px;
  text-align: center;
  color: #34495e;
  font-size: 18px;
  font-weight: bold;

}

.index_wlcm_beta {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  padding: 10px;
  text-align: center;
  color: #ECF0F1;
  text-shadow: 0 1px 10px #272822;
  font-size: 18px;
  font-weight: bold;
  background-image: url('https://s3.amazonaws.com/leagueio/design/beta/index-welcome-beta-wdgt.png');
}

/* Question Show  Views-counter */

.quest_wdgt {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  padding: 10px;
  font-weight: bold;
  color: #ECF0F1;
  text-shadow: 0 1px 10px #272822;
  background-image: url('https://s3.amazonaws.com/leagueio/design/questions/question-view-counter.png');
}

.quest_wdgt p {
  margin: 0!important;
}