<div class="wlcm_hero_unit">

  <div class="wlcm_greeting">
    <h1>You Rock!</h1>
    <h3 class="wlcm_first">Welcome on Board <%= @user.first_name %></h3>
    <br>
    <h3>League I/O is still on a Closed Beta</h3>
    <h3>and you are one of the first 50 Awesome</h3>
    <h3>Summoners to contribute </h3>
  </div>

  <br>

  <div class="wlcm_intro">
    <h3>How to give Feedback</h3>
      <embed src="http://www.phoenix-prime.gr/intro.mp3" height="0" autostart="true" >
  </div>


  <div class="wlcm_shares">
    <fb:like href="https://www.facebook.com/6invy" width="400" show_faces="false" send="true"></fb:like>

    <a href="https://twitter.com/6invy" class="twitter-follow-button" data-show-count="false" data-lang="en-gb">Follow @6invy</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </div>


</div>


